/* font styles  */
html, body {
	word-break: break-word;
}

.brand {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bolder;
}

/* general */

.bold-text {
	font-weight: bold;
}

.error-text {
	/* middle of screen */
	position: absolute;
	top: 40%;
}

/* links */

.hide-link {
	color: inherit !important;
	text-decoration: none;
}

.simple-link {
	color: inherit !important;
	text-decoration: underline;
}

.simple-link:hover {
	color: red;
	cursor: pointer;
}

.clickable:hover {
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	/* add styling for mobile phones */
}
