version: 2
updates:
  - package-ecosystem: npm
    directories:
      - /
      - /src/backend
      - /src/frontend
    schedule:
      interval: daily
    commit-message:
      prefix: 'chore(deps): '
    # Disable version updates for npm dependencies
    open-pull-requests-limit: 0
    groups:
      strapi:
        patterns:
          - '@strapi/'
        dependency-type: production
      security:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
        applies-to: security-updates
        dependency-type: production

  - package-ecosystem: docker
    directories:
      - /src/backend
      - /src/frontend
    schedule:
      interval: daily
    commit-message:
      prefix: 'chore(security): '
    # Disable version updates for docker dependencies
    open-pull-requests-limit: 0

  - package-ecosystem: github-actions
    directory: /.github/workflows
    schedule:
      interval: daily
    commit-message:
      prefix: 'chore(security): '
    # Disable version updates for GitHub Actions dependencies
    open-pull-requests-limit: 0
