{
	"root": true,
	"extends": [
		"eslint:recommended",
		"plugin:vue/vue3-recommended",
		"@nuxtjs/eslint-config-typescript"
	],
	"rules": {
		"no-tabs": "off",
		"indent": ["error", "tab"],
		"semi": ["error", "always"],
		"prefer-const": "error",
		"no-var": "error",
		"no-unused-vars": "error",
		"object-curly-spacing": ["error", "always"],
		"object-curly-newline": ["error", { "multiline": true }]
	},
	"overrides": [
		{
			"files": ["*.vue"],
			"rules": {
				"vue/require-default-prop": "off",
				"vue/html-closing-bracket-newline": [
					"error",
					{ "singleline": "never", "multiline": "never" }
				],
				"vue/component-name-in-template-casing": ["error", "kebab-case"],
				"vue/max-attributes-per-line": [
					"error",
					{ "singleline": { "max": 1 }, "multiline": { "max": 1 } }
				]
			}
		}
	]
}
