{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "type-enum": [
      2,
      "always",
      [
        "feat",
        "fix",
        "chore",
        "docs"
      ]
    ],
    "scope-enum": [
      1,
      "always",
      [
        "frontend",
        "backend",
        "cicd",
        "security",
        "deps"
      ]
    ]
  }
}