# vscode
.vscode
.DS_Store
oliverrr.code-workspace

# certificates
certificates

# ignore all .env files
.env*
!.env.sample

# node modules
node_modules

# nuxt
.nuxt

# cms
content/.database
content/public/uploads