version: '3.8'
services:
  frontend:
    build: ../../packages/frontend
    ports:
      - "3000:3000"
    env_file:
      - ../../packages/frontend/.env

  backend:
    build: ../../packages/backend
    ports:
      - "4000:4000"
    env_file:
      - ../../packages/backend/.env