html, body {
	height: 100%;
	width: 100%;
}

.app-container {
	min-height: 100%;

	display: grid;
	grid-template-rows: auto 1fr auto;
}

.app-content {
	min-height: 80vh;
}

.app-footer {
	min-height: 5%;
}

@media screen and (max-width: 480px) {
	.app-content {
	min-height: 75vh;
}
}
