/* font styles  */
html, body {
	word-break: break-word;
}

.brand {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bolder;
}

/* general */

.general-title {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

.bold-text {
	font-weight: bold;
}

.center-text {
	text-align: center;
}

.red-text {
	color: red;
}

.clickable:hover {
	cursor: pointer;
}

.hide-link {
	color: inherit !important;
	text-decoration: none;
}

.simple-link {
	color: inherit !important;
	text-decoration: underline;
}

.simple-link:hover {
	color: red;
	cursor: pointer;
}

.divider {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2.5px dashed #ccc;
	margin-top: 1.5em;
}

/* forms */

.form-subtitle {
	font-size: 1.5rem;
	font-weight: bold;
}

/* cards */

.card-title {
	font-size: 1.7rem;
	font-weight: bold;
}

.card-subtitle {
	font-size: 1.15rem;
	font-weight: bold;
}

/* articles */
.article-title {
	font-size: 3em;
	font-weight: bold;
}

.article-subtitle {
	font-size: 2em;
	font-weight: bold;
}

.article-section {
	font-size: 1.75em;
	font-weight: bold;
}

.article-subsection {
	font-size: 1.5em;
	font-weight: bold;
}

@media screen and (max-width: 480px) {
	body {
		font-family: Helvetica, sans-serif;
		font-size: 1.15rem;
	}
	.brand {
		font-family: monospace;
		font-weight: bolder;
	}

	.general-title {
		font-size: 1.75rem;
		font-weight: bold;
	}

	.form-title {
		font-size: 2rem;
		font-weight: bold;
	}

	.form-subtitle {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.card-title {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.card-subtitle {
		font-size: 1.5rem;
		font-weight: bold;
	}
}
