#container{
	position: relative;
	min-height: 100vh;
	max-width: 100vw;
}

#content-wrap {
	padding-bottom: 5vh; /* Footer height */
}

#foot {
	position: absolute;
	bottom: 0;
	width: 100vw;
	min-height: 4vh; /* Footer height */
}

@media only screen and (max-width: 600px) {
  #container-wrap{
		padding-bottom: 5vh;
	}

	#foot{
		position: relative;
		min-height: 5vh;
	}
}

/* source of code^: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
